[Desktop Entry]
Type=Application
Name=Amber
GenericName=Music Player
Comment=Play local MP3, FLAC and WebM files
Exec=amber-player %F
Icon=amber-player
Terminal=false
Categories=AudioVideo;Audio;Player;Qt;
MimeType=audio/mpeg;audio/flac;audio/x-flac;audio/webm;video/webm;inode/directory;
Keywords=music;audio;player;mp3;flac;webm;lyrics;
StartupWMClass=amber-player
